In [4]:
#Q1 Création du DataFrame
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# impression des trois premiers lignes
df = pd.DataFrame(exam_data, index=labels)
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [15]:
# Suppression des lignes avec des valeurs Nan
df = df.dropna()
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [16]:
# Extraction des colonnes 'name' et 'score' du DataFrame
df = df[['name', 'score']]
print(df)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

In [18]:
# Ajout d'une nouvelle ligne 'k' au DataFrame
df.loc['k'] = ['Suresh', 15.5]
print(df)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0
k     Suresh   15.5

In [46]:
# Suppression de la colonne "attempts" du DataFrame
df = pd.DataFrame(exam_data, index=labels)
df.drop('attempts',axis=1,inplace=True)
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [33]:
# Ajout d'une nouvelle colonne "Succès"
df['Succes'] = np.where(df['score']>10, 1, 0)
print(df)

        name  score  Succès  Succes
a  Anastasia   12.5       1       1
b       Dima    9.0       0       0
c  Katherine   16.5       1       1
e      Emily    9.0       0       0
f    Michael   20.0       1       1
g    Matthew   14.5       1       1
i      Kevin    8.0       0       0
j      Jonas   19.0       1       1
k     Suresh   15.5       1       1

In [50]:
# Exportation du DataFrame final dans un fichier CSV nommé "my_data" 
df.to_csv('my_data.csv')